<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Conversion</title>
    <link rel="stylesheet" href="static/style.css">

    <link rel="icon" href="static/images/mic.png">

</head>
<body>
    <!-- responsive nav -->
   <i class="fa-solid fa-bars" id="nav-toggle"></i>
    <div class="responsive-nav active-res-nav">
        
        <div class="profile-container-res">
        </div>
        <ul>
            <h1 id="nav-heading">naif</h1>
            <a class="list-link" href="">
                <li class="list-item-res"> <i class="list-icon fa-solid fa-house-chimney"></i> home</li>
                
            </a><a class="list-link" href="">
                <li class="list-item-res"><i class="list-icon fa-solid fa-circle-user"></i> profile</li>
            </a><a class="list-link" href="">
                <li class="list-item-res"><i class="list-icon">&</i> hisroty</li>
            </a><a class="list-link" href="">
                <li class="list-item-res"><i class="list-icon">&</i> about</li>
            </a>
                <a href="" class="list-link"><li class="list-item-res"><i class="icon-setting fa-solid fa-gear" setting></i>Settings</li></a>
        </ul>

    </div>

    <div class="grid-container">
    <!-- navbar start -->
    <div class="nav-container">
    <nav id="nav">
        
        <h1 id="nav-heading"><i class="fa-solid fa-circle-user"></i>naif</h1>
    
        <ul>
            <a class="list-link" href="">
                <li class="list-item"> <i class="list-icon fa-solid fa-house-chimney"></i> home</li>
                
            </a><a class="list-link" href="">
                <li class="list-item"><i class="list-icon fa-solid fa-circle-user"></i> profile</li>
            </a><a class="list-link" href="">
                <li class="list-item"><i class="list-icon">&</i> hisroty</li>
            </a><a class="list-link" href="">
                <li class="list-item"><i class="list-icon">&</i> about</li>
            </a>
        </ul>

        <div class="profile-container">
            <div class="profile"></div>
        </div>

        <div class="name-settings">

            <p id="user-name">Naif</p>
            <!-- <img src="/static/images/Screenshot from 2026-05-01 17-23-02.png" alt="user-profile" class="user-profile"> -->
            <a href="" id="setting-link"><i class="icon-setting fa-solid fa-gear" setting></i>Settings</a>
        </div>
        </nav>
</div>
    <!-- navbar end -->

    <!-- main start -->
    <div class="management-area">
        <aside class="time-mode-details">
            <div class="time-container">
            <p id="time"><i id="time"></i></p>
        </div>

        <div id="mor-or-night"></div>
        </aside>

        <h2 class="management-title">management</h2>

        <div class="date">
            <div class="pargraph-container">
                <input type="date" id="date-input">
            </div>

            <div class="day-weak-etc-container">
                <ul>
                    <li class="specific-list-choice"><i></i>day</li>
                    <li class="specific-list-choice"><i></i>week</li>
                    <li class="specific-list-choice"><i></i>month</li>
                    <li class="specific-list-choice"><i></i>year</li>

                    <!-- records -->


                </ul>
            </div>

        </div>
    </div>


    <div class="drag-drop-container">
        <h2 class="file-heading">file</h2>
        <p class="file-p">Drag and Drop your file here</p>

        <p class="file-p">or</p>
        <input type="file" id="input-file"> <label for="input-file" id="file-lable">choose your file</label>
        <span id="file-name">no file yet</span>

        <p id="drag-drop-message"></p>
    </div>


    <div class="file-preview">
        <h2 class="file-preview-heading"><i id="preview-icon"></i>file preview</h2>
        <audio src="" controls id="file-preview"></audio>
    </div>



    <div class="audio-conversion">
        <h3 id="audio-conversion-heading">converite to</h3>
        <ul>
            <li class="conversion-list"><i id="consersion-list-icon"></i>man</li>
            <li class="conversion-list"><i id="consersion-list-icon"></i>women</li>
            <li class="conversion-list"><i id="consersion-list-icon"></i>animal</li>
            <li class="conversion-list"><i id="consersion-list-icon"></i>robot</li>
        </ul>

    </div>


    <div class="audio-display">
        <h3 audio-display>start</h3>
        <div id="waveform"></div>
        <button type="button" id="playButton">⏯️</button>
    </div>
    <!-- main end -->




</div>

     <!-- audio viewer: -->
     <script src="../static/scripts/script.js"></script>
     <script src="https://unpkg.com/wavesurfer.js@7"></script> 

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ef84b809a9.js" crossorigin="anonymous"></script>
</body>
</html>